@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Montserrat:wght@400;500;800&display=swap");

:root {
  --primary: #00ff84;
  --dark: #0d0e0e;
  --serif: "EB Garamond", serif;
  --sans-serif: "Montserrat", sans-serif;
}

body {
  font-family: var(--sans-serif);
  background-color: var(--dark);
  color: white;
}

.btn-strive--primary {
  background-color: var(--primary);
}

.btn-strive {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  min-width: 260px;
}

.font-bolder {
  font-weight: 800;
}

.font-size-medium {
  font-size: 22px;
}

h1 {
  font-family: var(--serif);
}

nav.navbar.navbar-dark {
  padding: 3rem 1rem 0;
}

@media (min-width: 576px) {
  nav.navbar.navbar-dark {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.main-section {
  position: relative;
  min-height: 100vh;
  background-image: url("./assets/imgs/smile.jpg");
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.main-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
}

.hero-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.hero-section .container {
  margin: auto; /*  centers the content: h1, p, button vertically and horizontally because the parent is flex */
}

.hero-section h1 {
  font-size: 67px;
  max-width: 400px;
  line-height: 1;
}

/* @media (min-width: 768px) {
  .hero-section h1 {
    max-width: 50%;
  }
} */

.hero-section h1 + p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 22px;
}

.about-us {
  padding: 2rem 0;
  background-color: #000000d1;
}

.about-us .slash {
  color: var(--primary);
}
